*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #7ebec2c9, #36C9C6);
    padding: 10px;
   
 
}
.to-do{
    max-height: 540px;
    width: 500px;
    background: white;
    margin: 200px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
  
}
.to-do h2{
    font-size: 40px;
    display: flex;
    align-items: center;
}
.to-do img{
    margin-left: 15px;
    height: 35px;
    width: 35px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightgray;
    border-radius: 20px;
    padding-left:20px ;
    margin-bottom: 24px;
    margin-top: 10px;
}
.row input{
    font-size: 18px;
    background-color: transparent;
    flex: 1;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 10px;
}
.row button{
    font-size: 18px;
    border: none;
    background-color: #ff4945;
    padding: 10px 30px;
    outline: none;
    border-radius: 20px;
    border: 40px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 21px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}
ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(img/unchecked.webp);
    color: white;
    background-size: cover;
    background-position: center;
    left: 15px;
}
.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    background-image: url(img/checked.png);
}
span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 35px;
    height: 35px;
    font-size: 29px;
    color: #555;
    text-align: center;
    line-height: 40px;
    font-weight: 900;
    border-radius: 50%;
} 
span:hover{
    background: #edeef0;
  
}